section.search-box {
    padding: 20px 20px 00 20px;
    display: flex;
    justify-content: flex-end;

    input.search-box {
        padding: 8px 0px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;

    }
}